html {
  --theme-color: #43a889;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "mc-main-regular";
  src: url("font/macs-minecraft/mac's Minecraft.woff2");
}

body, button, input {
  font-family: "mc-main-regular", monospace, sans-serif;
}


body {
  margin: 0;
  padding: 0;
  background-image: url('bg.png');

  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  --gradient: linear-gradient(180deg, #fff 0%, #ccc 100%);
  background: --gradient;
  border: 0;

 &:hover {
    --gradient: linear-gradient(180deg, #fff 0%, #bbb 100%);
  }
}

burrow-window {

  padding: 0;

  width: 100%;
  max-width: 800px;
  min-height: 800px;

  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;


  h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    padding: 4px;
    font-size: 16px;
    background: var(--theme-color);
    color: #fff;
  }

  nav {

    display: flex;
    background: linear-gradient(180deg, #fff 0%, #ccc 100%);

    button {
      padding: 4px 0;
      height: 64px;
      width: 64px;
      font-size: 10px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      image-rendering: crisp-edges;
      image-rendering: pixelated;
      background:
        var(--icon) no-repeat center 16px,
        var(--gradient);

      &.back {
        --icon: url('icons/back.png');
      }
      &.forward {
        --icon: url('icons/forward.png');
      }
      &.home {
        --icon: url('icons/home.png');
      }
      &.reload {
        --icon: url('icons/reload.png');
      }

    }
    img {
      margin-left: auto;
      height: 64px;
      width: 64px;
    }


  }

  .address-bar {
    display: flex;

    padding: 4px;
    background: #ccc;

    input {
      flex: 1;
      border: 0;
      padding: 4px;
    }
  }

  iframe {
    flex: 1;
    border: 0;
  }

}
